{:element #xml2json/mapped {:type :new :mapping
                                  [
                                   [:attr-k [:test :first]]
                                   [:attr-l #xml2json/nested [[:attr-xyz [:iets :second]]]]
                                   ]}}