{:config/sequence-element :FeatureCollection
 :config/translators
                          {#xml2json/path [:featureMember :Gemeenten] #xml2json/mapped {:type :new :mapping
                                                                                              [
                                                                                               [:_id :s/id-attr]
                                                                                               [:_collection :s/tag clojure.string/lower-case]
                                                                                               :Code
                                                                                               :Gemeentenaam
                                                                                               [:_geometry [:surfaceProperty :s/inner-gml][:multiSurfaceProperty :s/inner-gml]]
                                                                                               ]},
                           #xml2json/path [:featureMember :Landsgrens] #xml2json/mapped {:type :new :mapping
                                                                                               [
                                                                                                [:_id :s/id-attr]
                                                                                                [:_collection :s/tag clojure.string/lower-case]
                                                                                                :Code
                                                                                                :Landsnaam
                                                                                                [:_geometry [:surfaceProperty :s/inner-gml][:multiSurfaceProperty :s/inner-gml]]
                                                                                                ]},
                           #xml2json/path [:featureMember :Provincies] #xml2json/mapped {:type :new :mapping
                                                                                               [
                                                                                                [:_id :s/id-attr]
                                                                                                [:_collection :s/tag clojure.string/lower-case]
                                                                                                :Provincienaam
                                                                                                [:_geometry [:surfaceProperty :s/inner-gml][:multiSurfaceProperty :s/inner-gml]]
                                                                                                ]}
                           }
 }